<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"></properties>
    <settings>
        <!--全局开关-->
        <!--设置自动驼峰转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--k开启懒加载-->
        <setting name="lazyLoadingEnabled" value="false"/>
        <!--控制台输出-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <package name="com.ts.bean"/>
    </typeAliases>
    <!--配置environment环境 -->
    <environments default="development">
        <!-- 环境配置1，每个SqlSessionFactory对应一个环境 -->
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="UNPOOLED">
                <property name="driver" value="${jdbc_driver}" />
                <property name="url" value="${jdbc_url}" />
                <property name="username" value="${jdbc_username}" />
                <property name="password" value="${jdbc_password}" />
            </dataSource>
        </environment>

    </environments>
    <!--<mappers>
        <dao resource="sqlmapper/TUserMapper.xml"/>
    </mappers>-->

    <!--这个需要接口和mapper配置文件放在一个包下-->
    <mappers>
        <!--<package name="com.ts.mapper"/>-->
        <package name="com.ts.dao"/>
    </mappers>

</configuration>
